on: workflow_dispatch

jobs:
  build:
    runs-on: macos-14
    steps:

      - run: uname -a
      - run: uname -p
      - run: uname -m

      - run: brew install docker
      - run: brew --prefix docker
      - run: which docker
      - run: ls -l /opt/homebrew/Cellar/docker/27.5.0
      - run: ls -l /opt/homebrew/Cellar/docker-completion/27.5.0

      - run: /opt/homebrew/bin/docker/docker run hello-world
      - run: /opt/homebrew/bin/docker/docker version
