on: workflow_dispatch

jobs:
  build:
    runs-on: macos-14
    steps:

      - run: uname -a
      - run: uname -p
      - run: uname -m

      - name: Download Docker
        run: |
          curl -L -o docker.tgz https://download.docker.com/mac/static/stable/aarch64/docker-20.10.8.tgz
          tar xzvf docker.tgz
          sudo cp docker/docker /usr/local/bin/
          sudo cp docker/cli-plugins/docker-* /usr/local/bin/
          rm -rf docker docker.tgz

      - name: Start Docker Daemon
        run: |
          sudo /usr/local/bin/dockerd &

      - name: Verify Docker
        run: |
          /usr/local/bin/docker run hello-world

      - run: docker version
