on: workflow_dispatch

jobs:
  build:
    runs-on: macos-14
    steps:

      - run: uname -a
      - run: uname -p
      - run: uname -m
      - run: brew install colima
      - run: brew install docker
      - run: colima start --runtime docker
      - run: dockerd
      - run: docker version
